body {
    background-color: beige;
    font-family: Verdana, "Times New Roman", sans-serif;
}

.list {
    margin: 0 auto;
    width: 360px;
    font-weight: 600;
    font-family: Georgia;
}

.image {
    margin: 0 auto;
    width: 360px;
    display: block;
}

.title {
    text-align: center;
    font-family: "Lucida Console";
}